/* .img-logo {
    margin-left: 12.5rem;
} */
header{
    background-image: url("../img/home/Banner_home2.png");
    width: 100%;
    height: 880px;
}
.nav {
    /* margin: 0 12.5rem; */
    position: relative;
    width: calc(100% - 25rem);
}

.nav-menu{
    position: absolute;
    right: 0;
    font-weight: 600;
}
.nav-menu a{
    color: white;
}
/* .img-bg{
    position: absolute;
} */
.banner-title{
    width: 32.5rem;
    height: 250px;
    position: absolute;
    top: 30%;
    left: 12.5rem;
}
.banner-title h1,
.banner-title p{
    color: white;
}
.button-title{
    border: none;
    width: 155px;
    height: 42px;
    background-color: white;
    color: #1863efd0;
    font-weight: 700;
}

/* section */
section{
    position: relative;
}
/* .content-title{
    width: 965px;
} */
.title-box h1,
.title-box pre{
    color: #023c8c;
}
.title-box h1{
   font-weight: 700;
}
.title-box{
    width: 58rem;
}
.main-content{
    height: max-content;
    background-color: #f3f3f3;
}
.box-content p{
    color: #023c8c;
    font-weight: 500;
}