<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg pt-5">
            <div class="container-fluid nav">
                <a class="navbar-brand" href="#"><img src="../img/home/LOGO.png" alt="logo" class="img-logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse nav-menu " id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="#">WHY CHOOSES US</a>
                        <a class="nav-link" href="#">INDUSTRIES</a>
                        <a class="nav-link" href="#">WORKS</a>
                        <a class="nav-link" href="#">OUT TEAM</a>
                        <a class="nav-link" href="#">CONTACT</a>
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">ENG/VN</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="banner-title">
            <h1>Develop High-tech products for Enterprise</h1>
            <p>We provide excellent development services in a wide range of
                business industries with distributed systems based on Blockchain
                technology</p>
            <button type="button" class="button-title">LEARN MORE</button>
        </div>
    </header>

    <section>
        <div class="main-content">
            <div class="content-title text-center position-absolute top-0 start-50 translate-middle-x">
                <h1 class="mt-5 mb-3">WELCOME TO TVM BLOCKCHAIN</h1>
                <pre style="font-weight: 600;">Thank you for visiting us
    If you are looking for a partner who is able to do software development tasks professionally,
    definitely we are your SMART decision. Work with us and you won't be disappointed.</pre>
            </div>
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="../img/home/slider1.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="../img/home/slider2.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../img/home/slider3.png" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>


    </section>

    <footer>

    </footer>
</body>

</html>